<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>computed计算属性&watch监听器</title>
</head>

<body>
  <div id="app">
    <ul>
      <li>西游记；价格：{{xyjPrice}}，数量：<input type="number" v-model="xyjNum"></li>
      <li>水浒传；价格：{{shzPrice}}，数量：<input type="number" v-model="shzNum"></li>
      <li>总价：{{totalPrice}}</li>
      {{xyjMsg}} <br>
      {{shzMsg}}
    </ul>
  </div>

  <script src="../node_modules/vue/dist/vue.js"></script>
  <script>
    let vm = new Vue({
      el: "#app",
      data: {
        xyjPrice: 99.98,
        shzPrice: 99,
        xyjNum: 1,
        shzNum: 1,
        xyjMaxNum: 3,
        shzMaxNum: 4,
        xyjMsg: "",
        shzMsg: ""
      },
      computed: {
        totalPrice() {
          return this.xyjPrice * this.xyjNum + this.shzPrice * this.shzNum;
        }
      },
      watch: {
        xyjNum(newVal, oldVal) {
          console.log(newVal, "==>", oldVal);
          if (newVal > this.xyjMaxNum) {
            this.xyjMsg = "（西游记）数量不可超出库存,当前库存为:" + this.xyjMaxNum;
            this.xyjNum = oldVal;
          } else if (oldVal == this.xyjMaxNum && newVal < this.xyjMaxNum) {
            this.xyjMsg = "";
          }
        },
        shzNum(newVal, oldVal) {
          if (newVal > this.shzMaxNum) {
            this.shzMsg = "（水浒传）数量不可超出库存,当前库存为:" + this.shzMaxNum;
            this.shzNum = oldVal;
          } else if (oldVal == this.shzMaxNum && newVal < this.shzMaxNum) {
            this.shzMsg = "";
          }
        }
      }
    });
  </script>
</body>

</html>